/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */

.kontejner {
	display: flex;
}

.menu {
	order: -1;
	flex-basis: 20%;
	display: flex;
	flex-direction: column;
}

nav {
flex-grow: 1;
}

.main {
	flex-basis: 80%;
}