/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */

body {
	margin: 0;
}

header,
footer {
	height: 20vh;
}

.main {
	display: flex;
	height: 60vh;
}

article {
	flex: 1 1 60vw;
}
/*já měla jen flex-basis: 60vw, ale je potřeba dovolit roztahovat i smršťovat pro hlavní článek*/

aside,
nav {
	flex: 0 0 20vw;
}


/* moje nedokonalé řešení

header {
	padding: 15px;
}

footer {
	padding: 15px;
}

.main {
	flex-basis: 60%;
	flex-grow: 1;
	display: flex;
}

article {
	flex-basis: 60%;
	padding: 15px;
}

aside,
nav {
	flex-basis: 20%;
	padding: 15px;
}
*/