/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */

body {
	margin: 0;
}
.kontejner {
	display: flex;
}
.main {
	order: 2;
	flex: 1 1 80vw;
}
.menu {
	order: 1;
	flex: 0 0 20vw;
} /*potud jsem to vymyslela dobře a dál... buď vpravo vyřešit zalamováním -tak jsem to měla minule viz dole-, anebo prostřední dva divy dát do dalšího divu a dát vertikální směr hlavní osy*/

.main {
	display: flex;
	flex-direction: column;
}
header,
footer {
	flex: 0 0 20vh;
}
.obsah {
	flex: 1 1 60vh;
	display: flex;
}
article {
	flex: 1 1 60vw;
}
aside {
	flex: 0 0 20vw;
}

/* MOJE PŮVODNÍ ŘEŠENÍ
header,
footer,
aside,
article,
nav {
	padding: 15px;
}

.kontejner {
	display: flex;
}

.menu {
	flex-basis: 20%;
	display: flex;
	flex-direction: column;
}

nav {
	flex-grow: 1;
}

.main {
	flex-basis: 80%;
	display: flex;
	flex-wrap: wrap;
}

header,
footer {
	flex-basis: 100%;
}

article {
	flex-basis: 75%;
}

aside {
	flex-basis: 25%;
}
*/